apiVersion: v1
kind: Service
metadata:
  name: nginx-service
spec:
  selector:
    app: nginx
    version: blue        # Initially points to Blue
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
  type: NodePort         # Or LoadBalancer for cloud